.specialOffers {
  width: 100%;
  height: inherit;

  /* text-align: center; */
  display: grid;
  gap: 3rem;
  /* margin-right: 5rem; */
  grid-template-columns: repeat(3, 1fr);
  background-color: rgb(75, 75, 75);
}

.specialOfferText1{
  color: white;
  font-family: "Cinzel", serif;
  font-size: 1.8rem;
  margin-top: 2rem;
  margin-bottom: 1rem;

}

.specialOfferText2{
  color: white;
  margin-top: 1rem;
  font-family: "Cinzel", serif;
  font-size: 1.5rem;

}

.specialOfferText3{
  color: white;
  font-family: "Cinzel", serif;
  font-size: 1.2rem;

}

.specialOfferImg {
  /* position: relative; */
  max-width: 80%;
  max-height: 60%;
  width: inherit;
  background-position: center;
  background-size: cover;
  margin: 8rem 2.5rem;
  text-align: center;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.specialOfferTextSection {
  height: 30rem;
  width: 50rem;
  border-radius: 1rem;
  position: absolute;
  left: 40%;
  top: 20%;
  background-color: white;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}
